.Logo {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: flex;
  gap: 7px;
  padding: 8px 11px;
  background-color: #EFEFF2;
  border-radius: 108px;
  color: #333333F2;
  max-height: 44px;
  max-width: 132px;
}
