:root {
  --container-width: 1392px;
  --container-padding: 15px;

  --font-main: "Manrope";
  --font-size: 16px;

  --page-bg: #fff;
  --text-color: #000;
}
.dark {
  --page-bg: #252526;
  --text-color: #fff;
}